@import url('https://fonts.googleapis.com/css?family=Kanit');


/* CSS For Layout Components */
:root {
    --background-color: #0d0c0c;
    --primary-color: rgb(46, 150, 51);

    /* Levels Colors */
    --text-color: hotpink;
    --super-beginner: rgb(59, 218, 230);
    --beginner: rgb(46, 150, 51);
    --intermediate: rgb(235, 231, 44);
    --advanced: rgb(248, 177, 46);
    --native: gold;

    /* Text Colors */
    --subtitle-color: rgb(214, 214, 214);
    
    /* Component Vars */
    --card-color: 70, 70, 70;

    --default-radius: 0.5rem;
}

/* General Utility Classes */
.flex {
    display: flex;
    gap: var(--gap, 2rem);
}



/* Layout Styling */
.flex-grow {
    flex-grow: 1;
}

.grid {
    display: grid;
    gap: var(--gap, 2rem);
}

.container {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}



/* General Styling Classes */
.title {
    color: var(--text-color);
    margin-right: 50px;
}

.subtitle {
    color: grey;
}

.text {
    padding: 0;
    margin: 0;
}

.disable-gutters {
    padding: 0;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.circle {
    border-radius: 50%;
}

.hide-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Difficulty Meter Styling */
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0.4rem auto 0.5rem;
    width: 65%;
    /* height: 0.5rem; */
    height: 0.5rem;

    border-radius: 2rem;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(80, 80, 80, 0.5);
}

meter::-webkit-meter-bar {

    border-radius: 2rem;
}

meter::-moz-meter-bar {
    background: none;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 2rem;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
    background: var(--super-beginner);
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: var(--beginner);
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: var(--intermediate);
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: var(--advanced);
}

meter[value="5"]::-webkit-meter-optimum-value {
    background: var(--native);
}

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
    background: var(--super-beginner);
}

meter[value="2"]::-moz-meter-bar {
    background: var(--beginner);
}

meter[value="3"]::-moz-meter-bar {
    background: var(--intermediate);
}

meter[value="4"]::-moz-meter-bar {
    background: var(--advanced);
}

meter[value="5"]::-moz-meter-bar {
    background: var(--native);
}


/* Category Styling */
.youtube {
    background-color: crimson;
}

.netflix {
    background-color: red;
}

.spotify {
    background-color: chartreuse;
}

.podcast {
    background-color: darkorchid;
}

.book {
    background-color: darkgoldenrod;
}


/* Titlebar */
.primary-logo {
    margin: 0;
    padding: 0;
}

.primary-title {
    /* color: hotpink; */
    margin-right: -2rem;
    font-size: 35px;
    background: linear-gradient(0deg, var(--beginner) 15%, var(--background-color) 0%);
}

.primary-title:hover {
    cursor: pointer;
}

.primary-header {
    justify-content: space-between;
}

.primary-navigation {
    list-style: none;
}

.primary-navigation a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.primary-navigation a:hover {
    color: var(--subtitle-color);
}

/* .primary-navigation a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--subtitle-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.primary-navigation a:hover::before {
    transform: scaleX(1);
} */



/* Toolbar */
.toolbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
    display: inline-flex;
    /* width: min(var(100% - 6rem)); */
    width: 90vw;
    overflow: hidden;
    /* background-color: #2b2a27; */
}

/* Grid */
.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    width: min(95%, 70rem);
    margin-inline: auto;
}


/* Category */
.category {
    margin-bottom: 3rem;
}


/* Card */
.card {
    width: 200px;
    border-radius: var(--default-radius);
    background-color: rgb(var(--card-color), 0.1);
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.card:hover {
    background-color: rgb(var(--card-color), 0.5);
    cursor: pointer;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-image {
    height: 175px;
    border-radius: var(--default-radius);
    background-color: rgb(37, 0, 139);
}

.card-icon {
    width: 25px;
    height: 25px;
    /* background-color: white; */
    margin: 0.5rem;
    border: 2px solid black;
    justify-self: end;
}

.card-overlay {
    width: 80%;
    margin-bottom: -30px;
    justify-self: center;
    height: 35px;
    background-color: var(--native);
    opacity: 0;
    transition: .5s ease;
    border-radius: var(--default-radius);
}

.card-divider {
    color: skyblue;
    background-color: skyblue;
    height: 2px;
    width: 95%;
    margin-top: 0.75rem;
    margin-left: -1rem;
}

.card-description {
    /* height: 65px; */
    height: 35px;
    margin-bottom: 0.5rem;
}

.card-title-text {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: 20px;
}

/* Buttons */
.button-basic {
    border-radius: var(--default-radius);
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.button-basic:hover {
    cursor: pointer;
}



/* Pages */

/* Home */
.home-container {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin-top: -15vh;
}

.home-title {
    font-size: 65px;
    font-weight: bold;
    background: linear-gradient(0deg, var(--beginner) 15%, var(--background-color) 0%);
    padding: 0;
    margin: 0;
}

.home-subtitle {
    color: var(--subtitle-color);
    font-size: 22px;
    font-weight: 500;
}