/* CSS For Layout Components */

/* Toolbar */
.toolbar {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    width: 95%;
    background-color: #2b2a27;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
}


/* Card */
.card {
    width: 300px;
    border: 2px solid red;
    margin: 10px;
}

.card-description {
    height: 50px;
    padding: 10px;
}

.card-title {
    height: 225px;
    border: 1px solid black;
}